div.footer {
    display:flex;
    justify-content: space-evenly;
    background-color: #fff;
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    
}

div.footer a img {
    height: 50px;
    width: auto;
    &, &:hover {
        transition: 0.2s ease-out;
    }
    
    &:hover {
        height: 70px;
        width: auto;
    }
}