<p>footer works!</p>
<div class="footer">
    <a href="#">
        <img src="./../../../../../assets/images/alliance-du-vieux-monde.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/bas-fonds.webp" alt="logo bas-fonds">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/elfes-noirs.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/elfes-sylvains.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/elus-du-chaos.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/gobelins.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/alliance-du-vieux-monde.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/hommes-lezards.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/horreurs-necromantiques.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/humains.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/nains.webp" alt="logo alliance du vieux monde">
    </a>
    <a href>
        <img src="./../../../../../assets/images/noblesse-imperiale.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/Nurgle.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/Ogres.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
    <img src="./../../../../../assets/images/orques-noirs.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/Orques.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/renegats-du-chaos.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/skavens.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/snotlings.webp" alt="logo alliance du vieux monde">
    </a>
    <a href="#">
        <img src="./../../../../../assets/images/union-elfique.webp" alt="logo alliance du vieux monde">
    </a>
</div>