
<div class="space-top"></div>
<div class="show-teams">
    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/alliance-du-vieux-monde.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Alliance du vieux monde</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/bas-fonds.webp" alt="logo bas-fonds">
        </a>
        <h2>Bas-fonds</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/elfes-noirs.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Elfes noirs</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/elfes-sylvains.webp" alt="logo alliance du vieux monde">
        </a> 
        <h2>Elfes sylvains</h2>  
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/elus-du-chaos.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Elus du chaos</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/gobelins.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Gobelins</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../assets/images/Halflings.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Halflings</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/hommes-lezards.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Hommes lézards</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/horreurs-necromantiques.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Horreurs necromantiques</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/humains.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Humains</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/nains.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Nains</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/noblesse-imperiale.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Noblesse impériale</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/Nurgle.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Nurgle</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/Ogres.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Ogres</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/orques-noirs.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Orques noirs</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/Orques.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Orques</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/renegats-du-chaos.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Renégats du chaos</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/skavens.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Skavens</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/snotlings.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Snotlings</h2>
    </div>

    <div class="card">
        <a href="#">
            <img src="./../../../../../assets/images/union-elfique.webp" alt="logo alliance du vieux monde">
        </a>
        <h2>Union elfique</h2>
    </div>
    
</div>