table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}

.colonne1 {
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 15px;
}